* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: 0;
}


/* .iconfont {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* 左边固定盒子 */

.quickmark {
    width: 156px;
    height: 166px;
    background-color: #f7f7f7;
    position: fixed;
    margin: 0 auto;
    top: 139px;
    left: 12px;
    z-index: 2;
}

.quickmark-1 {
    width: 156px;
    height: 134px;
    /* margin: 0 auto; */
    margin-top: 18px;
    display: inline-block;
    text-align: center;
}

.quickmark-1 p {
    color: #333;
    font-size: 12px;
}

.quickmark-1 p:last-child {
    color: #E13228;
}


/* 右边盒子固定 */

.upward {
    top: 1px;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1px;
    top: 227px;
}

.upward img {
    margin: 15px 0;
}


/* 第一部分导航栏 */

.nav {
    width: 100%;
    /* height: 95px; */
}

.nav-1 {
    width: 1200px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #223355; */
}


/* 中间导航 */

.nav-middle {
    display: inline-block;
    height: 95px;
    line-height: 95px;
    margin-left: 40px;
}

.nav-middle ul {
    display: flex;
    /* align-items: center; */
}

.nav-middle ul li {
    padding: 0 20px;
}

.nav-middle ul li a {
    color: #858585;
    font-size: 16px;
}

.nav-middle li.nav-middle-1 a {
    color: #000;
}

.nav-middle ul li a:hover {
    color: #000;
}


/* 搜索框 */

.search {
    position: relative;
}

.search input {
    width: 295px;
    height: 34px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    color: #858585;
    padding: 0 10px 0 15px;
    outline: none;
}

.search .icon-search {
    color: #E13228;
    position: absolute;
    right: 13px;
    top: 6px;
    font-size: 20px;
    cursor: pointer;
}


/* .search-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.search-icon:before {
    content: "/E617";
} */


/* 下拉框 */

.search-down {
    display: none;
    position: absolute;
    width: 295px;
    height: 500px;
    background-color: #fff;
    z-index: 3;
    border: 1px solid #e8e8e8;
}

.search:hover .search-down {
    display: block;
}

.search-down-1 {
    display: flex;
    margin: 15px 0 0 10px;
}


/* 歌曲 */

.search-down-1 span {
    color: #afafaf;
    font-size: 13px;
}

.drop-down {
    margin-left: 25px;
}

.drop-down ul li {
    padding: 0 0 15px 0;
}

.drop-down ul li a {
    color: #000;
    font-size: 16px;
}

.drop-down ul li p {
    color: #afafaf;
    font-size: 13px;
}


/* 歌手 */


/* 专辑 */


/* 个人信息 */

.personal {
    width: 118x;
    height: 41px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.personal {
    position: relative;
}

.personal-1 img:first-child {
    border-radius: 50%;
    margin-right: 10px;
}

.personal-1 img:last-child {
    position: absolute;
    left: 31px;
    top: 26px;
}

.personal span {
    color: #333;
    font-size: 14px;
    line-height: 41px;
}


/* 第二部份 topnav顶导航栏 */

.topnav {
    width: 100%;
    height: 37.6px;
    margin: 0 auto;
    background-color: #fafafa;
}

.topnav-1 {
    width: 750px;
    height: 37.6px;
    margin: 0 auto;
    line-height: 37.6px;
}

.topnav ul {
    display: flex;
}

.topnav-1 ul li {
    padding: 0 35px;
}

.topnav-1 ul li a {
    color: #333;
    font-size: 16px;
}

.topnav-1 .topnav-2 a {
    color: #E13228;
    font-size: 16px;
}

.topnav-1 ul li a:hover {
    color: #E13228;
}


/* 第三部分内容 */

.main {
    width: 100%;
    height: 2858px;
    margin-top: 30px;
}

.main-1 {
    width: 1200px;
    height: 2858px;
    margin: 0 auto;
}

h2 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    margin-right: 20px;
}


/* 热门歌单 */

.song-list {
    width: 1200px;
    height: 547px;
    display: flex;
    margin-bottom: 60px;
}

.song-list-left {
    width: 790px;
    height: 565px;
}

.list-left-1 {
    width: 490px;
    height: 38px;
    display: flex;
}

.list-left-2 span {
    color: #999;
    font-size: 14px;
    cursor: pointer;
}

.each-playlist {
    width: 820px;
    height: 502px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.each-1 {
    width: 173px;
    height: 223px;
    margin: 0 25px 35px 0;
    position: relative;
    /* overflow: hidden; */
}

.each {
    width: 173px;
    height: 173px;
    margin-bottom: 10px;
    overflow: hidden;
}

.each-1 a {
    width: 173px;
    height: 60px;
    display: block;
    color: #333;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.each-2 {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    top: 56px;
    left: 54px;
    /* display: none; */
}

.each-3 {
    width: 0;
    height: 0;
    position: relative;
    top: 13px;
    left: 10px;
    margin: 0 auto;
    border: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-radius: 5px;
}


/* hover的效果 */

.each-1:hover {
    font-weight: 650;
}

.each-1:hover .each-2 {
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 1); */
    font-weight: 650;
    /* display: block; */
    transition: all 0.4s;
}

.each-1:hover img {
    transform: scale(1.05);
    transition: all 0.4s;
}


/* 右边 */

.song-list-right {
    width: 350px;
    height: 502px;
    margin-left: 30px;
}

.classfly-0 {
    height: 291px;
    margin-bottom: 20px;
}

.classfly {
    width: 350px;
    height: 230px;
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.classfly-1 {
    border: 1px solid #e8e8e8;
    color: #333;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 23px;
    height: 42px;
    width: 105.99px;
    text-align: center;
}

.classfly-1:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}


/* 推荐电台 */

.radio {
    width: 385px;
    height: 253px;
}

.radio-1 {
    margin-top: 20px;
    width: 373px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio-2 {
    width: 62px;
    height: 90px;
    position: relative;
    margin: 0 13px 15px 0;
}

.radio-2 p {
    display: flex;
    justify-content: center;
    position: relative;
    left: -3px;
}

.radio-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    top: 1px;
}

.radio-5 {
    color: #fff;
    position: relative;
    top: 15px;
    left: 19px;
}

.radio-5::before {
    content: "\E61E";
}

.radio-4:hover {
    opacity: 1;
    transition: all 1s;
}


/* 私人电台 */

.radio-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea4e1b;
    margin-bottom: 8px;
}

.radio .radio-11 {
    font-size: 28px;
    color: #fff;
    position: relative;
    top: 13px;
    left: 11px;
}

.radio-11::before {
    content: "\E63C";
}


/* 在家 */

.radio .radio-22 {
    font-size: 26px;
    color: #fff;
    position: relative;
    top: 13px;
    left: 11px;
}

.radio-22::before {
    content: "\E63B";
}


/* 店铺 */

.radio-shop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff9200;
    margin-bottom: 8px;
}

.radio .shop {
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 14px;
    left: 11px;
}

.shop::before {
    content: "\E614";
}


/* 轻松 */

.radio-esay {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4bcbe8;
    margin-bottom: 8px;
}

.radio .esay {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 17px;
    left: 9px;
}

.esay::before {
    content: "\E607";
}


/* 上网 */

.radio-internet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d73535;
    margin-bottom: 8px;
}

.radio .internet {
    font-size: 28px;
    color: #fff;
    position: relative;
    top: 14px;
    left: 11px;
}

.internet::before {
    content: "\E639";
}


/* 运动 */

.radio-exercise {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #697ac7;
    margin-bottom: 8px;
}

.radio .exercise {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 15px;
    left: 10px;
}

.exercise::before {
    content: "\E60F";
}


/* 工作 */

.radio-work {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d31154;
    margin-bottom: 8px;
}

.radio .work {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 15px;
    left: 10px;
}

.work::before {
    content: "\E63A";
}


/* 甜蜜 */

.radio-sweet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6baaeb;
    margin-bottom: 8px;
}

.radio .sweet {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 15px;
    left: 10px;
}

.sweet::before {
    content: "\E608";
}


/* 大字报*/

.poster {
    width: 100%;
    height: 347px;
    position: relative;
}

.poster img {
    display: block;
    margin: 0 auto;
}

.poster .poster-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    /* background-color: #afafaf; */
    font-size: 60px;
    color: #afafaf;
    right: -100px;
    opacity: 0;
}

.poster .poster-left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    /* background-color: #afafaf; */
    font-size: 60px;
    color: #afafaf;
    left: -100px;
    opacity: 0;
}

.poster-left::before {
    content: "\E62C";
}

.poster:hover .poster-left {
    opacity: 1;
    transition: all 1s;
}

.poster .poster-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    /* background-color: #afafaf; */
    font-size: 60px;
    color: #afafaf;
    right: -100px;
    opacity: 0;
}

.poster-right::before {
    content: "\E62D";
}

.poster:hover .poster-right {
    opacity: 1;
    transition: all 1s;
}


/*新歌首发  */

.new-start {
    width: 1200px;
    height: 325.6px;
    margin: 0 auto;
    position: relative;
}

.new-start-0 {
    width: 1200px;
    height: 231px;
    display: flex;
    margin-top: 20px;
    position: relative;
}

.new-start-1 {
    width: 174.913px;
    height: 228.2px;
    display: inline-block;
    text-align: center;
    margin: 0 30px 0 0;
    position: relative;
}

.new-start p:nth-child(2) {
    color: #333;
}

.new-start p:last-child {
    color: #999;
    font-size: 14px;
}

.new-start-1 .new-cover {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: -21px;
}

.new-start-2 {
    width: 172.94px;
    height: 172.94px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.new-start-2 img {
    overflow: hidden;
}

.new-1 {
    color: #999;
}


/* 阴影 */

.new-start-3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 61px;
    left: 62px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.new-start-icon {
    width: 17px;
    height: 17px;
    position: relative;
    top: 15px;
    left: 19px;
    color: #fff;
}

.new-start-icon::before {
    content: "\E61E";
}


/* 移动上去的效果 */

.start:hover .new-start-3 {
    opacity: 1;
    transition: all 0.6s;
}

.start:hover .new-start-2 img {
    transform: scale(1.06);
    transition: all 0.6s;
}

.start:hover .new-start-5 {
    font-weight: 600;
    transition: all 0.6s;
}

.start:hover .new {
    font-weight: 650;
    transition: all 0.6s;
}

.start:hover .new-1 {
    color: #000;
    transition: all 0.6s;
}

.new-start:hover .poster-left {
    opacity: 1;
    transition: all 0.6s;
    cursor: pointer;
}

.new-start:hover .poster-right {
    opacity: 1;
    transition: all 0.6s;
    cursor: pointer;
}

.new-start .poster-left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    font-size: 60px;
    color: #afafaf;
    left: -100px;
    opacity: 0;
}

.new-start .poster-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    /* background-color: #afafaf; */
    font-size: 60px;
    color: #afafaf;
    right: -100px;
    opacity: 0;
}


/* 小圆点 */

.dot {
    width: 67px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
}

.dot-1 {
    width: 10px;
    height: 2px;
    background-color: #333;
    margin: 0 8px 0 0;
    border-radius: 20%;
}

.dot-2 {
    width: 4px;
    height: 2px;
    background-color: #d8d8d8;
    margin: 0 8px 0 0;
    border-radius: 20%;
}


/* 排行榜 */

.ranking-list {
    width: 1200px;
    height: 606px;
    margin-top: 60px;
}

.ranking-list-0 {
    width: 1200px;
    height: 540px;
    margin-top: 30px;
    display: flex;
}


/* 第一列新歌榜 */

.ranking-list-1 {
    width: 380px;
    height: 544px;
    border: 1px solid rgba(91, 148, 0, .3);
    margin-right: 20px;
}

.new-song {
    width: 379px;
    height: 66px;
    background-color: rgba(91, 148, 0, .1);
    opacity: 0.6;
}

.new-song .new-song-0 {
    font-size: 53px;
    color: #fff;
    position: relative;
    top: 22px;
    left: 10px;
    font-weight: 500;
}

.new-song-0::before {
    content: "\E60C";
}

.ranking-list-1 h3 {
    z-index: 100;
    position: relative;
    color: #5b9400;
    font-size: 22px;
    font-weight: 550;
    left: 18px;
    display: inline-block;
}

.new-song-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-song-2 {
    width: 30px;
    height: 30px;
    background-color: #5b9400;
    position: relative;
    margin-right: 20px;
}

.new-song-3 {
    color: #fff;
    position: relative;
    line-height: 30px;
    left: 9px;
    z-index: 20;
}

.new-song-3::before {
    content: "\E61D";
}

.new-song-4 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    opacity: 0;
    overflow: hidden;
}

.new-song-2:hover .new-song-4 {
    opacity: 1;
    transition: all 0.6s;
}


/* 第二列热歌榜 */

.ranking-list-2 {
    width: 380px;
    height: 544px;
    border: 1px solid rgba(219, 88, 0, .3);
    margin-right: 20px;
}

.ranking-list-2 h3 {
    z-index: 100;
    position: relative;
    color: #db5800;
    font-size: 22px;
    font-weight: 550;
    left: 18px;
    display: inline-block;
}

.hot-song {
    width: 379px;
    height: 66px;
    background-color: rgba(219, 88, 0, .3);
    opacity: 0.6;
}

.hot-song .hot-song-0 {
    font-size: 53px;
    color: #fff;
    position: relative;
    top: 22px;
    left: 10px;
    font-weight: 500;
    opacity: 0.8;
}

.hot-song-0::before {
    content: "\E60A";
}

.hot-song-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hot-song-2 {
    width: 30px;
    height: 30px;
    background-color: #db5800;
    position: relative;
    margin-right: 20px;
}

.new-song-list .hot-song-5 {
    color: #db5800;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}


/* 第三列 网络歌曲*/

.ranking-list-3 {
    width: 380px;
    height: 544px;
    border: 1px solid rgba(219, 88, 0, .3);
    margin-right: 20px;
}

.ranking-list-3 h3 {
    z-index: 100;
    position: relative;
    color: #21bfa6;
    font-size: 22px;
    font-weight: 550;
    left: 18px;
    display: inline-block;
}

.network-song {
    width: 379px;
    height: 66px;
    background-color: rgba(219, 88, 0, .3);
    opacity: 0.6;
}

.network-song .network-song-0 {
    font-size: 53px;
    color: #fff;
    position: relative;
    top: 22px;
    left: 10px;
    font-weight: 500;
    opacity: 0.8;
}

.network-song-0::before {
    content: "\E60B";
}

.network-song-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.networkt-song-2 {
    width: 30px;
    height: 30px;
    background-color: #21bfa6;
    position: relative;
    margin-right: 20px;
}

.new-song-list .hot-song-5 {
    color: #21bfa6;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.ranking-list-3 {
    width: 380px;
    height: 544px;
    border: 1px solid rgba(33, 191, 166, .3);
    margin-right: 20px;
}

.ranking-list-3 h3 {
    z-index: 100;
    position: relative;
    color: #21bfa6;
    font-size: 22px;
    font-weight: 550;
    left: 18px;
    display: inline-block;
}

.network-song {
    width: 379px;
    height: 66px;
    background-color: rgba(33, 191, 166, .3);
    opacity: 0.6;
}

.network-song .network-song-0 {
    font-size: 53px;
    color: #fff;
    position: relative;
    top: 22px;
    left: 10px;
    font-weight: 500;
}

.network-song-0::before {
    content: "\E60B";
}

.network-song-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network-song-2 {
    width: 30px;
    height: 30px;
    background-color: #21bfa6;
    position: relative;
    margin-right: 20px;
}

.new-song-list .network-5 {
    color: #21bfa6;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}


/* 新歌榜列表 */

.new-song-list {
    width: 378px;
    height: 408px;
    margin-top: 10px;
}

.new-song-list-1 {
    width: 378px;
    height: 68px;
    display: flex;
    padding: 15px;
    position: relative;
}

.new-song-list span {
    color: #5b9400;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.new-song-list .number {
    color: #939393;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.new-song-list-2 {
    display: flex;
    align-items: center;
}

.new-song-list-2 img {
    border: 1px solid #eee;
}

.new-song-list-3 {
    margin-left: 10px;
}

a.new-song-list-4 {
    color: #333;
    text-overflow: ellipsis;
}

a.new-song-list-5 {
    color: #999;
    font-weight: 200;
}

.full {
    width: 378px;
    display: inline-block;
    text-align: end;
}

.full span a {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
}


/* 移上去的效果 */

.new-song-list-1:hover {
    background-color: #fafafa;
}

.new-song-list-1:hover .new-song-list-4 {
    font-weight: 600;
    transition: all 0.3s;
}

.new-song-list-1:hover .new-song-list-5 {
    color: #000;
}

.full a:hover {
    font-weight: 600;
}


/* 播放按钮 */

.paly-buttom {
    position: absolute;
    display: flex;
    right: 5px;
    font-size: 24px;
    color: #484848;
}

.paly-buttom-1 {
    margin-right: 15px;
    display: none;
}

.paly-buttom-1 .paly-buttom-2 {
    font-size: 24px;
    color: #484848;
    opacity: 0.6;
    cursor: pointer;
}

.paly-buttom-2::before {
    content: "\E611";
}

.paly-buttom-1 .paly-buttom-3 {
    font-size: 24px;
    color: #484848;
    opacity: 0.6;
    cursor: pointer;
}

.paly-buttom-3::before {
    content: "\E612";
}

.paly-buttom-1 .paly-buttom-4 {
    font-size: 24px;
    color: #484848;
    opacity: 0.6;
    cursor: pointer;
}

.paly-buttom-4::before {
    content: "\E618";
}


/* hover的效果 */

.paly-buttom-2:hover {
    opacity: 1;
}

.paly-buttom-3:hover {
    opacity: 1;
}

.paly-buttom-4:hover {
    opacity: 1;
}

.new-song-list-1:hover .paly-buttom-1 {
    display: block;
}


/* 热门歌手 */

.singer {
    width: 100%;
    height: 224px;
    margin: 40px 0;
}

.singer-1 {
    width: 1200px;
    height: 224px;
    margin: 30px auto;
    display: flex;
}

.singer-2 {
    width: 126.91px;
    height: 158.51px;
    margin: 0 38px;
    display: inline-block;
    text-align: center;
}

.singer-2 p a {
    color: #333;
}

.singer-3 {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.singer-3 img {
    border-radius: 50%;
}

.singer-2:hover .singer-3 img {
    transform: scale(1.06);
    transition: all 0.3s;
    cursor: pointer;
}

.singer-2:hover a {
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}


/* 精选mv */

.choiceness {
    width: 100%;
    height: 333px;
    position: relative;
}

.choiceness-0 {
    width: 1247px;
    /* height: 305.6px; */
    margin: 0 auto;
    display: flex;
}

.choiceness-1 {
    width: 277.5px;
    height: 208.75px;
    margin: 30px 25px 0 0;
    display: inline-block;
    text-align: center;
    position: relative;
}

.choiceness-2 {
    width: 275.5px;
    height: 155.15px;
    margin: 0 30px 10px 0;
    cursor: pointer;
    overflow: hidden;
}

.choiceness-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 27%;
    left: 40%;
    opacity: 0;
}

.choiceness .choiceness-4 {
    color: #fff;
    position: relative;
    top: 30%;
    left: 3px;
}

.choiceness-4::after {
    content: "\E61E";
}

p.mv {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 277.5px;
    overflow: hidden;
}

.mv-1 a {
    color: #999;
}


/*箭头 */

.choiceness .choiceness-left {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    font-size: 60px;
    color: #afafaf;
    left: -70px;
    opacity: 0;
}

.choiceness-left::after {
    content: "\E62C";
}

.choiceness .choiceness-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    font-size: 60px;
    color: #afafaf;
    right: -39px;
    opacity: 0;
}

.choiceness-right::after {
    content: "\E62D";
}


/* hover的效果 */

.choiceness-1:hover .choiceness-3 {
    opacity: 1;
    transition: 0.4s;
}

.choiceness-1:hover {
    font-weight: 500;
    transition: 0.3s;
}

.choiceness-1:hover .choiceness-2 img {
    transform: scale(1.06);
    transition: 0.3s;
}

.choiceness:hover .choiceness-left {
    opacity: 1;
    transition: all 3s;
}

.choiceness:hover .choiceness-right {
    opacity: 1;
    transition: all 3s;
}

.choiceness-1:hover .mv a {
    font-weight: 600;
}

.choiceness-1:hover .mv-1 a {
    color: #333;
}


/* 热门活动*/

.activity {
    width: 100%;
    height: 249px;
    margin: 50px auto;
}

.activity-1 {
    width: 1230px;
    height: 186px;
    margin-top: 30px;
    display: flex;
}

.activity-2 {
    display: inline-block;
    text-align: center;
    width: 409px;
    height: 184px;
    margin-right: 20px;
}

.activity-3 {
    width: 378px;
    height: 152px;
    margin-bottom: 10px;
    overflow: hidden;
}


/* hover的效果 */

.activity-2:hover a {
    font-weight: 600;
}

.activity-2:hover .activity-3 img {
    transform: scale(1.06);
    transition: 0.5s;
}


/* 版权 */

.copyright {
    width: 100%;
    height: 450px;
    background-color: #333;
    margin-top: 80px;
}

.copyright-1 {
    width: 1200px;
    height: 450px;
    margin: auto;
}

.copyright-top {
    width: 1200px;
    height: 333.6px;
    /* margin-top: 50px; */
    padding-top: 50px;
    display: flex;
}

.copyright-bottom {
    width: 1200px;
    height: 130.6px;
}


/* 下载 */

.download {
    width: 365px;
    height: 240.6px;
    margin-right: 75px;
}

.copyright-1 h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 70px;
}

.download-0 {
    width: 365px;
    display: flex;
    justify-self: start;
}

.download .download-0 p {
    margin-top: 20px;
}

.copyright-1 a {
    font-size: 14px;
    color: #939393;
    /* position: relative;
    left: 1px; */
}

.download-1 {
    width: 80px;
    height: 71.6px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: -15px;
}

.download .download-11 {
    font-size: 35px;
    color: #999;
    cursor: pointer;
    /* margin-right: 40px; */
}

.download-11::before {
    content: "\E626";
}

.download .download-22 {
    font-size: 35px;
    color: #999;
    cursor: pointer;
}

.download-22::before {
    content: "\E627";
}

.download .download-33 {
    font-size: 35px;
    color: #999;
    cursor: pointer;
    /* margin-right: 40px; */
}

.download-33::before {
    content: "\E628";
}

.download .download-44 {
    font-size: 35px;
    color: #999;
    cursor: pointer;
}

.download-44::before {
    content: "\E629";
}


/* 移动上去 */

.download-1:hover a {
    font-weight: 600;
    color: #939393;
}


/* 关于千千 */

.regared {
    width: 520px;
    height: 240.6px;
}

.regared-1 {
    width: 340px;
    height: 222px;
}

.regared span {
    display: inline-block;
    margin-right: 44px;
    margin-bottom: 30px;
}

.regared span a {
    padding-bottom: 40px;
}

.regared-1 span a:hover {
    font-weight: 600;
    color: #939393;
}


/* 关注 */

.attention {
    width: 340px;
    height: 240.6px;
}

.attention-1 {
    width: 296px;
    height: 206.8px;
}

.listen {
    display: flex;
    justify-content: space-between;
}

.listen-1 {
    width: 392px;
    padding: 0 30px 30px 0;
}

.attention a {
    margin-left: 5px;
    position: relative;
    top: -5px;
}

.attention .listen-11 {
    font-size: 30px;
    color: #939393;
}

.listen-11::before {
    content: "\E630";
}

.attention .listen-22 {
    font-size: 30px;
    color: #939393;
}

.listen-22::before {
    content: "\E615";
}

.attention .listen-33 {
    font-size: 30px;
    color: #939393;
}

.listen-33::before {
    content: "\E616";
}


/* hover上 */

.attention a:hover {
    font-weight: 600;
    color: #939393;
}


/* 文字 */

.copyright-bottom {
    width: 100%;
    height: 117.8px;
}

.copyright-bottom-1 {
    display: inline-block;
    width: 1200px;
    height: 117.8px;
    margin: 0 auto;
    text-align: center;
}

.copyright-bottom-1 p {
    color: #939393;
    padding: 0 0 10px 0;
}

.copyright-bottom-1 a:hover {
    color: #939393;
}