* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: 0;
}


/* 导航栏 */

.nav {
    width: 100%;
    height: 45px;
    background-color: #e13228;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 105px;
    height: 34px;
    margin: 0 50px 0 50px;
    background-image: url(http://static2.qianqian.com/play/player/t/i/qGEfHA2X.png);
}

.input {
    width: 220px;
    height: 24px;
    position: relative;
    margin-right: 15px;
}

input {
    width: 220px;
    height: 24px;
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    padding-left: 18px;
    background-color: #d11c11;
}

.input i {
    width: 24px;
    height: 24px;
    position: absolute;
    display: inline-block;
    /* left: -36px; */
    background: url(http://static3.qianqian.com/play/player/t/i/JbOgqWR1.png) no-repeat;
    /* top: 4px; */
    right: 1px;
    top: 4px;
}

.keyword span {
    color: #fff;
    font-size: 12px;
    padding: 0 3px;
}


/* 右边 */


/* 个人 */

.nav-right {
    width: 300px;
    /* height: 26.8px; */
    margin-right: 20px;
    display: flex;
    align-items: center;
}


/* .personal {
height: 26.8px;
} */

.nav-right span {
    color: #fff;
    font-size: 12px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.personal a {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat scroll right -6px;
}

.personal::after {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 14px;
    background-color: #fff;
    opacity: 0.4;
    position: relative;
    top: 3px;
}

.personal i {
    width: 11px;
    height: 10px;
    position: relative;
    left: 4px;
    display: inline-block;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -504px -1044px no-repeat;
}


/* 第二部分 */

.main {
    width: 100%;
    height: 604.6px;
    display: flex;
    padding-top: 20px;
}


/* 左边 */

.main-left {
    width: 250px;
    height: 561.6px
}

.menu {
    width: 230px;
    height: 561.6px;
    overflow-y: auto;
}

.menu-0 {
    margin-bottom: 20px;
}

.menu-1 {
    width: 190px;
    height: 34px;
    border-left: 5px solid #e13228;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-2 {
    width: 160px;
    height: 32px;
    display: inline-block;
}

.list {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static3.qianqian.com/play/player/t/i/h4ty3bDR.png)-48px 0 no-repeat;
}

.menu .menu-1 span {
    color: #e13228;
    font-size: 14px;
}

.live {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(http://static2.qianqian.com/play/player/t/i/qYBLNgqS.png) no-repeat;
}


/* 播放记录 */

.menu span {
    color: #333;
    font-size: 14px;
}

.menu-3 {
    width: 100%;
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.record {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -216px -1128px;
}


/* 最长听 */

.frequent {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -384px -1104px;
}


/* 下载历史 */

.history {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -336px -1188px;
}


/* 已购音乐 */

.bought {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -336px -1188px;
}


/* 音乐直播  */

.music-live {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 5px 0 20px;
    position: relative;
    top: 3px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -192px -1164px;
}


/* hover */

.menu-3:hover {
    background-color: #eee;
}


/* 自建歌单 */

.establish {
    width: 100%;
    height: 67px;
}

.establish-1 {
    width: 166px;
    margin-left: 26px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #eee;
    padding-bottom: 5px;
}

.establish-1 span {
    color: #808080;
    font-size: 12px;
}

.establish i {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: url(http://static0.qianqian.com/play/player/t/i/yeVjTSpu.png);
}

.establish-4 {
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin: 15px 0 30px 0;
    /* text-align: center; */
    padding-left: 25px;
}

.establish .establish-3 {
    vertical-align: -1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -480px -1152px;
}


/* 收藏 */

.collect {
    width: 100%;
    height: 207px;
}

.collect-1 {
    width: 166px;
    margin-left: 26px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.collect-1 span {
    color: #999;
    font-size: 12px;
}

.collect-2 {
    width: 210px;
    height: 89px;
    margin: 21px 0;
}

.collect-2 i {
    width: 118px;
    height: 92px;
    position: relative;
    left: 46px;
    background: url(http://static3.qianqian.com/play/player/t/i/6g1tCOHQ.png) -756px 0px no-repeat;
}

.collect-2 p {
    /* display: inline-block; */
    text-align: center;
    color: #d2d2d2;
    font-size: 14px;
    white-space: warp;
}


/* hover */

.establish-4:hover {
    background-color: #eee;
}


/* 中间 */

.main-middle {
    width: 1000px;
    height: 561.6px;
    /* background-color: antiquewhite; */
}


/* 第一行类型 */

.type {
    width: 1000px;
    height: 41px;
    display: flex;
}

.type span {
    display: block;
    color: #a7a7a7;
    font-size: 12px;
    line-height: 41px;
    font-weight: 600;
    width: 98px;
}

.type-song {
    width: 98px;
}

.type-song-1 {
    width: 90px;
    position: absolute;
    top: -1px;
    background-color: #fff;
    z-index: 2;
    display: none;
    left: -16px;
}

.type-song-2 {
    width: 90px;
    height: 40.8px;
    height: 41px;
    padding-left: 15px;
    border: 1px solid #e8e8e8;
}

.type-song-3 {
    height: 54px;
    border: 1px solid #e8e8e8;
    border-top: 0;
}

.type-song-3 p {
    color: #999;
    font-size: 12px;
    padding: 5px 15px;
}


/* 歌曲 */

.type-1 {
    position: relative;
    width: 260px;
    height: 41px;
    margin-left: 80px;
}

.type-2 {
    width: 260px;
    height: 41px;
    position: relative;
}

.type-3 {
    width: 260px;
    height: 41px;
    position: relative;
}


/* hover */

.type-song:hover .type-song-1 {
    display: block;
}


/* 第二部分 歌曲信息*/

.song-list {
    width: 100%;
    height: 493px;
    border: 2px solid #e8e8e8;
    border-left: 0;
    border-right: 0;
    overflow-y: auto;
}


/* 第一行 */

.list-0 {
    width: 1000px;
    height: 90px;
    background-color: #f0f4f8;
}

.list-1 {
    width: 1000px;
    height: 50px;
    display: flex;
    border-top: 1px solid #e8e8e8;
    position: relative;
}

.list-song {
    width: 265px;
    height: 50px;
    margin-left: 45px;
    line-height: 50px;
}

.list-song-1 {
    width: 265px;
    height: 50px;
}

.list-song-1 em {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 12px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-24px -1152px no-repeat;
}

.list-song-1 i {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background: url(http://static2.qianqian.com/play/player/t/i/qYBLNgqS.png) no-repeat;
}

.list-song span {
    color: #000;
    font-size: 14px;
}


/* 歌手 */

.list-singer {
    width: 255px;
    height: 50px;
    margin-left: 28px;
    line-height: 50px;
}

.list-singer span {
    color: #333;
    font-size: 14px;
}

.list-singer span:hover {
    text-decoration: underline;
}


/* 专辑 */

.list-album {
    width: 150px;
    height: 50px;
    /* margin-left: -7px; */
    line-height: 50px;
}

.list-album span {
    color: #333;
    font-size: 14px;
}

.list-album span:hover {
    text-decoration: underline;
}


/* 爱心 */

.heart {
    width: 42px;
    height: 50px;
    line-height: 56px;
    margin-left: 65px;
}

.heart i {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -288px -1188px;
}


/* 相似歌曲 */

.list-song-2 {
    display: flex;
    width: 220px;
    position: relative;
    left: 75px;
    margin-top: 7px;
}

.list-song-3 {
    background-color: #e13228;
    margin-right: 10px;
    border-radius: 5px;
    line-height: 22px;
    padding: 0px 6px;
}

.similarity {
    width: 17px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -120px -1200px;
}

.list-song-3 span {
    color: #fff;
    font-size: 12px;
}

.cover-version {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -396px -1128px;
}


/* 隐藏按钮 */

.conceal {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 17px;
    display: none;
}

.conceal-1 {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 3px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -72px -1152px no-repeat;
}

.conceal-1:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-576px -48px no-repeat;
}

.conceal-2 {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 3px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -96px -1128px no-repeat;
}

.conceal-2:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -552px -24px no-repeat;
}

.conceal-3 {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 3px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -324px -1116px no-repeat;
}

.conceal-3:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -576px 0px no-repeat;
}

.conceal-4 {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 3px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -288px -1140px no-repeat;
}

.conceal-4:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -504px -24px no-repeat;
}


/* hover上的效果 */

.list-1:hover {
    background-color: #f0f4f8;
}

.list-1:hover .conceal {
    display: block;
}


/* 选择按钮 */

.select {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.select em {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 12px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-24px -1152px no-repeat;
}

.select span {
    color: #333;
    font-size: 12px;
}

.select-1 {
    display: flex;
    align-items: center;
}

.select .select-1 span {
    color: #bfbfbf;
    font-size: 14px;
}


/* 喜欢 */

.like {
    background-color: #f7f7f7;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 0 8px 0 20px;
}

.like i {
    display: inline-block;
    width: 20px;
    height: 21.2px;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -96px -1152px no-repeat;
}


/* 歌单 */

.add-list {
    background-color: #f7f7f7;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 0 8px 0 20px;
}

.add-list i {
    display: inline-block;
    width: 20px;
    height: 21.2px;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -144px -1152px no-repeat;
}


/* 下载 */

.empty {
    background-color: #f7f7f7;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 0 8px 0 20px;
}

.empty i {
    display: inline-block;
    width: 20px;
    height: 21.2px;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -444px -1128px no-repeat;
}

.select .select-1 .empty span {
    color: #666;
    padding: 0;
    margin: 0;
}

.empty:hover {
    background-color: #eaeaea;
}

.select .select-1 .sum {
    margin-left: 100px;
    color: #333;
    font-size: 14px;
    float: right;
}


/* 删除 */

.batch {
    background-color: #f7f7f7;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 0 8px 0 20px;
}

.batch i {
    display: inline-block;
    width: 20px;
    height: 21.2px;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -456px -1104px no-repeat;
}


/* 清空 */

.delete {
    background-color: #f7f7f7;
    padding: 3px 8px;
    border-radius: 3px 8px;
    border-radius: 3px;
    margin: 0 8px 0 20px;
}

.delete i {
    display: inline-block;
    width: 20px;
    height: 21.2px;
    vertical-align: middle;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -264px -1140px no-repeat;
}


/* 右边 */

.main-right {
    width: 300px;
    height: 569.1px;
    margin-left: 30px;
}

.poster {
    position: relative;
    cursor: pointer;
}

.song-name {
    position: absolute;
    width: 180px;
    height: 28px;
    background-color: rgba(0, 0, 0, .5);
    bottom: 5px;
    color: #fff;
    z-index: 2;
    font-size: 12px;
    line-height: 28px;
    padding-left: 10px;
}

.somg-name span {
    display: inline-block;
    width: 4px;
    height: 10px;
    background: url(http://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) -504px 1092px no-repeat;
}


/* 歌词 */

.lyric {
    width: 242px;
    height: 318.6px;
    margin-top: 20px;
    overflow-y: auto;
}

.main-right .lyric-1 {
    color: #e13228;
    font-size: 14px;
    padding: 5px 0;
}

.lyric p {
    color: #666;
    font-size: 14px;
    padding: 5px 0;
}

.lyric-2 {
    margin-bottom: 20px;
}

.lyric-3 {
    margin-bottom: 20px;
}


/* 点击框 */

.lyric-error {
    width: 250px;
    height: 30px;
    display: flex;
    margin-top: 15px;
    line-height: 17px;
}

.lyric-error span a {
    font-size: 12px;
    color: #999;
}


/* 直播*/

.live-streaming {
    width: 58px;
    height: 22px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.live-streaming i {
    width: 22px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;
    vertical-align: -1px;
    background: url(http://static3.qianqian.com/play/player/t/i/mvobmqif.png)-288px -24px no-repeat;
}


/* 下载*/

.download-lyric {
    width: 60px;
    height: 22px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}


/* 信息 */

.lyric-information {
    width: 84px;
    height: 22px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


/* 播放器 */

.player {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #000;
    align-items: center;
}

.play-button {
    width: 146px;
    height: 45px;
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.button-1 {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -456px -1152px;
}

.button-2 {
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin: 0 15px;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -72px -1080px;
}

.button-3 {
    width: 22px;
    height: 24px;
    cursor: pointer;
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png) no-repeat -469px -1128px;
}


/* 时间 */

.time {
    width: 833px;
    height: 65px;
}

.time-top {
    width: 833px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.text-left span {
    color: #fff;
}

.text-left span a {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.icon-right ul {
    display: flex;
}

.icon-right ul li {
    margin: 0 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-right-1 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-360px -1176px no-repeat;
}

.icon-right-1:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-420px -192px no-repeat;
}

.icon-right-2 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-216px -1152px no-repeat;
}

.icon-right-2:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-168px -1116px no-repeat;
}

.icon-right-3 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-96px -1176px no-repeat;
}

.icon-right-3:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-24px -1176px no-repeat;
}

.icon-right-4 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-0px -1176px no-repeat;
}

.icon-right-4:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-252px -1080px no-repeat;
}

.icon-right-5 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-408px -1176px no-repeat;
}

.icon-right-5:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-420px -1128px no-repeat;
}

.icon-right-6 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-372px -1128px no-repeat;
}

.icon-right-6:hover {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-480px -1080px no-repeat;
}


/* 时间条 */

.time-bottom {
    width: 876px;
    height: 25px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.time-bar {
    width: 749px;
    height: 12px;
    /* display: inline-block; */
}

.time-bar-1 {
    width: 749px;
    height: 2px;
    background-color: #afafaf;
}

.time-bar-2 {
    width: 269.64px;
    height: 2px;
    background-color: #d2d2d2;
    z-index: 2;
}

.time-bar-3 {
    width: 237px;
    height: 2px;
    background-color: #e13228;
    position: relative;
}

.red-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: url(https://static3.qianqian.com/play/player/t/i/mVsJYq6D.png) no-repeat;
    right: -6px;
    top: -4px;
}

.timing {
    position: relative;
    top: -8px;
}

.timing span {
    font-size: 10px;
    color: #fff;
    margin-left: 15px;
    line-height: 20px;
}


/* 音量 */

.volume {
    width: 200px;
    height: 54px;
    margin: 0 10px 0 40px;
    line-height: 54px;
}

.volume span {
    margin: 0 6px;
}

.volume a {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.volume-1 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-360px -1152px no-repeat;
}

.volume-2 {
    background: url(https://static0.qianqian.com/play/player/t/i/GF9N0Yq3.png)-264px -1164px no-repeat;
}

.red-volume {
    width: 86px;
    height: 3px;
    background-color: #e13228;
    display: inline-block;
    position: relative;
    top: -4px;
}

.red-dot-1 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: url(https://static3.qianqian.com/play/player/t/i/mVsJYq6D.png) no-repeat;
    right: -6px;
    top: -4px;
}

.quality {
    /* line-height: 54px; */
    display: flex;
    align-items: center;
}

.quality-1 {
    /* width: 100px; */
    height: 30px;
    padding: 3px 10px;
    margin-right: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    line-height: 20px;
    /* display: flex; */
    /* justify-content: center; */
}

.quality span {
    color: #f5f6f6;
    font-size: 12px;
    margin-left: 5px;
}

.diamond {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://static3.qianqian.com/play/player/t/i/EEVyJ7uv.png)-440px -60px no-repeat;
}

.roll {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://static2.qianqian.com/play/player/t/i/lTaMQFKp.png)-216px -180px no-repeat;
}

.quality-2 {
    /* width: 100px; */
    height: 30px;
    padding: 3px 10px;
    margin-right: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    line-height: 20px;
    /* display: flex; */
    /* justify-content: center; */
}


/* :hover */

.quality-1:hover {
    background-color: #e13228;
    border: 1px solid #e13228;
}

.quality-2:hover {
    background-color: #f5f6f6;
    border-color: #f5f6f6;
}

.quality-2:hover span {
    color: #5b9ce8;
}