* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* letter-spacing: 1px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: 0;
}


/* 左边固定盒子 */

.quickmark {
    width: 156px;
    height: 166px;
    background-color: #f7f7f7;
    position: fixed;
    margin: 0 auto;
    top: 139px;
    left: 12px;
    z-index: 2;
}

.quickmark-1 {
    width: 156px;
    height: 134px;
    /* margin: 0 auto; */
    margin-top: 18px;
    display: inline-block;
    text-align: center;
}

.quickmark-1 p {
    color: #333;
    font-size: 12px;
}

.quickmark-1 p:last-child {
    color: #E13228;
}


/* 右边固定盒子 */

.sidebar {
    width: 50px;
    height: 300px;
    position: fixed;
    background-color: #e4e4e4;
    right: 5px;
    top: 137px;
}

.sidebar-1 {
    width: 50px;
    height: 50px;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1068px 0;
}

.sidebar-2 {
    width: 50px;
    height: 50px;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1164px 60px;
}

.sidebar-2::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #d4d3d3;
    position: relative;
    top: 34px;
    left: 10px;
}

.sidebar-2:hover {
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1224px -60px;
}

.sidebar-3 {
    width: 50px;
    height: 50px;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1188px 0;
}

.sidebar-3::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #d4d3d3;
    position: relative;
    top: 34px;
    left: 10px;
}

.sidebar-3:hover {
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1308px 0px;
}

.sidebar-4 {
    width: 50px;
    height: 50px;
    position: relative;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1344px 60px;
}

.sidebar-4:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #d4d3d3;
    position: relative;
    top: 34px;
    left: 10px;
}

.sidebar-4:hover {
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1248px 0px;
}

.sider-download {
    position: absolute;
    width: 138px;
    height: 230px;
    left: -143px;
    border: 1px solid #e4e4e4;
    background-color: #f7f7f7;
    display: none;
}

.sider-download-1 {
    width: 115px;
    height: 112px;
    margin: 15px auto;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)1707px 0px;
}

.sider-download p {
    font-size: 12px;
    color: #999;
    text-align: center;
}

.sider-download-2 {
    padding: 3px 8px;
    background-color: #e13228;
    width: 100px;
    border-radius: 9px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.sider-download-2 span {
    font-size: 12px;
    color: #fff;
}


/* hover */

.sidebar-4:hover .sider-download {
    display: block;
}

.sidebar-5 {
    width: 50px;
    height: 50px;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-984px 60px;
}

.sidebar-5:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #d4d3d3;
    position: relative;
    top: 34px;
    left: 10px;
}

.sidebar-5:hover {
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1128px 0px;
}

.sidebar-6 {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1284px 60px;
}

.sidebar-6:hover {
    background: url(http://static3.qianqian.com/web/static/i/t9iWM95Y.png)-1104px -60px;
}

.feedback {
    width: 36px;
    height: 38px;
    border: 1px solid #e8e8e8;
    position: absolute;
    left: -36px;
    background-color: #f7f7f7;
    background: url(http://static2.qianqian.com/web/static/i/2Jq76ojE.png) no-repeat;
    display: none;
    top: 8px;
    display: none;
}

.feedback:hover {
    background: url(http://static3.qianqian.com/web/static/i/oDFVDq66.png) no-repeat;
}

.sidebar-6:hover .feedback {
    display: block;
}


/* 第一部分  页头导航栏 */

.header {
    width: 100%;
    height: 120px;
}

.header-1 {
    width: 980px;
    height: 120px;
    margin: 0 auto;
}

.nav {
    width: 980px;
    height: 70px;
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
}

.search {
    width: 400px;
    height: 32px;
    margin: 0 25px 0 40px;
    position: relative;
}

.search input {
    width: 400px;
    height: 32px;
    border-radius: 23px;
    background-color: #eee;
    color: #afafaf;
    font-size: 12px;
    padding-left: 15px;
    position: relative;
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 6px;
    width: 17px;
    height: 17px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -912px 0 no-repeat;
}


/* 下拉框 */

.search-down {
    width: 400px;
    height: 400px;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    border: 1px solid #e8e8e8;
    display: none;
}

.down-1 {
    background-color: #fafafa;
    margin-bottom: 10px;
}

.down-1 span {
    width: 24px;
    height: 44px;
    font-size: 12px;
    color: #999;
    margin-left: 10px;
    line-height: 21px;
}

.down-2 {
    width: 398px;
    height: 44px;
    display: flex;
}

.down-2 span:first-child {
    font-size: 12px;
    color: #cccc;
    margin: 0 0 0 10px;
    line-height: 44px;
}

.down-3 {
    width: 354px;
    height: 44px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.down-3 img {
    padding-left: 5px;
}

.down-3:hover {
    background-color: #f7f7f7;
}

.down-4 {
    margin-left: 10px;
}

.text-1 a {
    color: #333;
    font-size: 14px;
}

.text-2 a {
    color: #999;
    font-size: 12px;
}

.down-5 {
    width: 11px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    background: url(http://static3.qianqian.com/web/static/i/eSsvKxFG.png) no-repeat;
}

.down-6 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #e4e4e4;
    background: url(http://static4.qianqian.com/web/static/i/RvmIHihZ.png);
}

.down-7 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-icon {
    width: 50px;
    height: 15px;
}


/* 下拉框hover */

.search:hover .search-down {
    display: block;
}

.down-5:hover {
    width: 11px;
    height: 14px;
    background: url(http://static2.qianqian.com/web/static/i/2LZOyvKx.png);
}

.down-6:hover {
    width: 15px;
    height: 15px;
    background: url(http://static2.qianqian.com/web/static/i/74Rztsxn.png);
}


/* 文字 */

.nav-1 span {
    padding: 0 3px;
}

.nav-1 a {
    color: #ababab;
    font-size: 12px;
    cursor: pointer;
}

.nav-2 {
    width: 107.3px;
    height: 70px;
    margin-left: 96px;
    display: flex;
    align-items: center;
}

.vip-1 {
    width: 20px;
    height: 20px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -684px -48px no-repeat;
}

.nav-2 p {
    color: #ffa200;
    font-size: 13px;
    padding-top: 5px;
}

.photo {
    position: relative;
}

.photo img {
    border-radius: 50%;
    margin-left: 35px;
    cursor: pointer;
}


/* 头像下拉框 */

.pull-down {
    position: absolute;
    width: 204px;
    height: 310px;
    border: 1px solid #d4d3d3;
    background-color: #fff;
    box-shadow: 1px 1px 2px #ccc;
    z-index: 2;
    left: -120px;
    top: 45px;
    display: none;
    cursor: pointer;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 30px;
    z-index: 5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -20px;
    right: 18px;
    color: #666;
    display: block;
}

.pull-down p {
    color: #e13228;
    font-size: 16px;
    text-align: center;
}

.pull-down p:hover {
    text-decoration: underline;
}

.pull-down-1 {
    width: 174px;
    height: 62px;
    border: 1px solid #e7e7e7;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 10px 10px;
    padding: 0 10px;
}

.dynamic-1 a {
    color: #999;
    font-size: 12px;
}

.dynamic-2 a {
    color: #333;
    font-size: 14px;
}

.dynamic:hover {
    text-decoration: underlline;
}


/* hover */

.message:hover {
    background-color: #e4e4e4;
}

.pull-down-2 {
    width: 205px;
    height: 203px;
}


/* 消息 */

.message {
    width: 204px;
    height: 33px;
    position: relative;
    padding-left: 10px;
    line-height: 33px;
}

.message-1 {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -972px -48px no-repeat;
}

.message-2 {
    color: #333;
    font-size: 12px;
}

.message-3 {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #E13228;
    top: 7px;
    right: 107px;
    border-radius: 50%;
}


/* 歌单 */

.list {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -802px -72px no-repeat;
}


/* 购买 */

.shop {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -672px 0px no-repeat;
}


/* 账号 */

.account {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -852px -24px no-repeat;
}


/* 分享 */

.share {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -744px -144px no-repeat;
}


/* 推出 */

.exit {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -672px -132px no-repeat;
}


/* hover后 */

.photo:hover .pull-down {
    display: block;
}


/* 主选择导航栏 */

.main-nav {
    width: 980px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
}

.main-nav-left {
    width: 616px;
    height: 42px;
}

.main-nav-left ul li {
    display: inline-block;
    line-height: 42px;
}

.main-nav-left ul li a {
    color: #333;
    font-size: 15px;
    padding: 0 20px 22px 22px;
}

.main-nav-left li.singer a {
    color: #e13228;
    border-bottom: 3px solid #e13228;
}

.main-nav-right {
    width: 261px;
    height: 49px;
    display: flex;
    align-items: center;
}

.main-nav-left li a:hover {
    color: #e13228;
}


/* 右边图标 */

.client {
    width: 100px;
    position: relative;
    /* margin-right: 30px; */
}

.client .client-1 {
    position: absolute;
    left: -32px;
    width: 24px;
    height: 24px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -900px -72px no-repeat;
}

.client a {
    color: #000;
    font-size: 14px;
}

.listen {
    width: 100px;
    position: relative;
}

.listen a {
    color: #000;
    font-size: 14px;
}

.listen .listen-1 {
    position: absolute;
    left: -32px;
    width: 24px;
    height: 24px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -948px -24px no-repeat;
}

.music-box {
    position: relative;
}

.music-box a {
    color: #000;
    font-size: 14px;
}

.music-box-1 {
    position: absolute;
    left: -32px;
    width: 24px;
    height: 24px;
    background: url(http://static1.qianqian.com/web/static/i/EYrPXVvf.png) -684px -96px no-repeat;
}


/* 第二部分 歌手简介 */

.introduce {
    width: 100%;
    height: 235px;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
    margin-top: 5px;
}

.introduce-1 {
    width: 1000px;
    height: 235px;
    margin: 20px auto;
    display: flex;
    /* align-items: center; */
}

.big-head img {
    border-radius: 50%;
}

.name {
    width: 799px;
    height: 166px;
    margin: 8px 0 0 30px;
}

.name-1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name h2 {
    color: #333;
    font-size: 28px;
    font-weight: 400;
    margin-right: 12px;
}

.fire {
    width: 16.8px;
    color: #ff7560;
    margin-right: 4px;
}

.name-1 span {
    color: #333;
    font-size: 12px;
}

.name-1 .collect {
    width: 56.66px;
    height: 22px;
    display: inline-block;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 10px;
    line-height: 7px;
    text-align: center;
    margin-left: 20px;
}


/* 地区 */

.name-2 span {
    color: #333;
    font-size: 14px;
    margin-right: 20px;
}

.name-2 p {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
}

.name-2 span.name-4 {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.name-2 span.name-4:hover {
    color: #e13228;
}


/* 播放热门歌曲 */

.name-3 {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.hot {
    display: inline-block;
    width: 148px;
    height: 36px;
    background-color: #e13228;
    border-radius: 20px;
    text-align: center;
    line-height: 36px;
    margin-right: 20px;
    cursor: pointer;
}

.hot span {
    color: #fff;
    font-size: 12px;
}

.listen-in {
    display: inline-block;
    width: 146px;
    height: 36px;
    border: 1px solid#e13228;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.listen-in span {
    color: #e13228;
    font-size: 12px;
}

.name-5 .transpond {
    font-size: 31px;
    margin: 0 4px 0 16px;
}

.name-5 {
    color: #333;
    display: flex;
    align-items: center;
}

.name-5:hover {
    color: #e13228;
}

.
/* 第二部分内容 */

.container {
    width: 100%;
    height: 750px;
}

.container-1 {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
}

.container-2 {
    display: flex;
}


/* 置顶 */

.new-album {
    margin: 20px 0;
}

.new {
    width: 33px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 3px;
    cursor: pointer;
    background: url(http://static4.qianqian.com/web/static/i/k1HaKIee.png) -696px -168px;
}

.new-album span {
    font-size: 12px;
    color: #333;
    padding-right: 20px;
}

.album::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    position: relative;
    left: 12px;
    background-color: #e4e4e4;
}


/* hover上的效果 */

.new-album:hover span {
    color: #e13228;
    cursor: pointer;
}


/* 歌曲部分 */

.song-list {
    width: 742px;
    height: 416px;
    display: inline-block;
}

.song-list-1 {
    width: 742px;
    height: 33px;
}

.song-list-1 span {
    font-size: 16px;
    color: #333;
    padding: 10px 35px;
}

.song {
    color: #e13228;
    border-bottom: 3px solid #e13228;
}

.property {
    width: 742px;
    height: 40px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    border-top: 1px solid #e8e8e8;
}

.property span {
    color: #999;
    font-size: 12px;
}

.property-1 {
    position: relative;
    left: 55px;
}

.song-list-3 {
    width: 742px;
    height: 335px;
}

.song-list-3 {
    text-align: center;
}

.song-list-3 ul li {
    line-height: 57px;
    height: 57px;
    display: flex;
}

.song-list-3 ul li .number {
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}

.song-list-4 {
    width: 740px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    margin-left: 19px;
    position: relative;
}

.song-list-4 span a {
    color: #333;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.song-list-4 span a:hover {
    color: #e13228;
}

.song-list-4 span:nth-child(3) {
    position: relative;
    left: 45px;
}

.song-list-4 span:last-child {
    color: #aaaaaa;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    left: -36px;
}


/* 第四个 */

.song-list-4 .song-list-44 a {
    color: #aaaaaa;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.song-list-4 .song-list-45 a {
    color: #aaaaaa;
    position: relative;
}


/* 隐藏按钮 */

.first {
    position: relative;
}

.hide {
    position: absolute;
    width: 145.6px;
    height: 60px;
    display: flex;
    left: 245px;
    display: none;
}

.hide-1 i {
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.hide-1 i:hover {
    color: #e13228;
}

.hide-2 {
    display: inline-block;
}


/* 无损 */

.lossless {
    color: #e13228;
    position: absolute;
    left: 77px;
    top: 1px;
}


/* 第三个 */

.mv {
    color: #e13228;
    position: absolute;
    left: 54px;
    top: 1px;
}

.lossless-2 {
    color: #e13228;
    position: absolute;
    left: 92px;
    top: 1px;
}


/* 添加隐藏歌单 */

.add {
    width: 108px;
    height: 106px;
    border: 1px solid #e8e8e8;
    z-index: 2;
    position: absolute;
    top: 44px;
    background-color: #fff;
    left: 22px;
    display: inline-block;
    text-align: center;
    display: none;
}

.add ul li {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #e8e8e8;
}

.add ul li a {
    color: #333;
    font-size: 12px;
    margin-left: 15px;
}


/* hover的效果 */

.first:hover .hide {
    display: block;
}

.hide-2:hover .add {
    display: block;
}


/* 页数 */

.pagination {
    width: 742px;
    height: 74px;
    margin-top: 57px;
    /* margin: 40px auto; */
    display: inline-block;
    text-align: center;
}

.pagination span {
    color: #999;
}

.pagination-1 {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #e13228;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.pagination-1 span {
    color: #fff;
    line-height: 29px;
}


/* 第二个 */

.pagination-2 {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.pagination-2 span {
    color: #999;
    line-height: 29px;
}


/* hover的效果 */

.pagination-2:hover {
    background-color: #fdf5f4;
    cursor: pointer;
}

.pagination-2:hover span {
    color: #e13228;
}


/* 右边猜你喜欢 */

.guess {
    width: 226px;
    height: 487px;
    display: inline-block;
    margin-left: 30px;
}

.guess-3 {
    width: 240px;
    height: 333.6px;
    display: flex;
    flex-wrap: wrap;
}


/* .guess-1 img {
    border-radius: 50%;
} */


/* 猜你喜欢 */

.else {
    margin: 20px 17px 20px 0;
}

.else img {
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

.else a {
    color: #333;
    font-size: 14px;
}

.else p {
    display: inline-block;
    position: relative;
    left: 28px;
}

.else p a:hover {
    color: #e13228;
}

.else i:hover {
    color: #e13228;
}


/* 客户端 */

.client-side {
    width: 226px;
    height: 120px;
    margin-top: 30px;
    display: flex;
}


/* 左边 */

.client-side-left {
    margin-right: 20px;
}

.client-side-left p {
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
}


/* 右边 */

.client-side-right p {
    margin-bottom: 9px;
}

.client-side-right p a {
    color: #999;
    font-size: 12px;
    margin-left: 95px;
}


/* win */

.win {
    width: 123px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    padding: 1px 10px;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.win span {
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}

.win-icon {
    font-size: 20px;
}


/* ios */

.client-side-right .ios-icon {
    font-size: 20px;
    position: relative;
    left: -2px;
}


/* android */


/* hover的效果 */

.win:hover {
    background-color: #e13228;
    transition: all 0.3s;
}

.win:hover span {
    color: #fff;
}

.win:hover .win-icon {
    color: #fff;
}

.win:hover .ios-icon {
    color: #fff;
}


/* 意见部分 */

.opinon {
    width: 100%;
    height: 128.4px;
}

.opinon-1 {
    width: 980px;
    height: 128.4px;
    margin: 0 auto;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
}

.opinon-1-left {
    width: 742px;
    height: 100%;
}

.services {
    width: 742px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.services span {
    margin-right: 20px;
}

.services span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: #333;
    position: relative;
    left: 10px;
}

.services .services-1 span::after {
    content: "";
    width: 0;
}

.services span a {
    color: #333;
    font-size: 12px;
}

.copyright {
    width: 690px;
}

.copyright span {
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.copyright span a {
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.opinon-right {
    margin-top: 30px;
}

.opinon-right span {
    color: #000;
    font-size: 12px;
    position: relative;
    top: -10px;
}

.strategy {
    display: inline-block;
    width: 88px;
    height: 36px;
    background: url(http://static1.qianqian.com/web/static/i/mrEe9qdz.png)-108px -3240px no-repeat;
}